/********************************************************/
/* DEFAULT STYLES§
/********************************************************/

html {
  font-size: 10px;
}

html,
body {
  padding: 0;
  margin: 0;
}

html,
body,
#root,
.App,
.fullHeight {
  height: 100%;
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a,
a:hover {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.main {
  width: 100%;
  height: calc(100% - 6.5rem);
  max-width: 1450px;
  padding: 0 10px;
  margin: 0 auto;
}

/********************************************************/
/* HEADER 
/********************************************************/

.header {
  height: 6.5rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

  .wrap {
    position: relative;
    height: 100%;
    max-width: 1450px;
    margin: 0 auto;

    .logo {
      width: 13rem;
      position: absolute;
      top: 50%;
      left: 10px;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      transform: translateY(-50%);

      img {
        display: block;
        width: 100%;
        margin: 0;
      }
    }

    .callToActions {
      position: absolute;
      top: 50%;
      right: 10px;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      transform: translateY(-50%);
      text-transform: uppercase;
      cursor: pointer;

      ul,
      li {
        margin: 0;
        padding: 0;
      }

      li {
        display: inline-block;
        list-style-type: none;
        margin-right: 1.5rem;

        &:last-child {
          margin-right: 0;
        }

        a {
          font-size: 1.8rem;
          line-height: 1;
          color: black;
          text-decoration: none;
          text-transform: uppercase;
        }
      }
    }
  }
}

.homepage {
  height: calc(100% - 6.5rem - 5.8rem);
}
/********************************************************/
/* DIRECTORY PAGE 
/********************************************************/
.directory {
  height: 100%;

  .wrap {
    display: inline-block;
    width: 100%;
    height: 100%;

    .item {
      position: relative;
      width: 50%;
      height: 100%;
      float: left;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.3);
        width: 100%;
        height: 100%;
        z-index: 1;
      }

      a {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        z-index: 2;
        font-size: 2rem;
        line-height: 1;
        font-weight: 400;
        text-transform: uppercase;
        background: rgba(255, 255, 255, 0.9);
        padding: 10px 15px;
        border: 1px solid black;

        &:hover {
          background: rgba(255, 255, 255, 1);
        }
      }
    }
  }
}

/********************************************************/
/* SIGNIN
/********************************************************/

.signin {
  display: block;
  width: 100%;
  max-width: 40rem;
  margin: 4rem auto 6rem;
  border: 1px solid black;

  .wrap {
    padding: 5px;

    h2 {
      font-size: 2.2rem;
      line-height: 1;
      font-weight: 400;
      text-transform: uppercase;
      text-align: center;
      display: block;
      width: 100%;
      padding: 0 10px;
      margin: 0 auto 3rem;
    }
    .socialSignin {
      margin: 0.5rem auto 0;
    }
  }
}

.btn {
  display: block;
  width: 100%;

  font-size: 1.5rem;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
  color: white;
  background: #4884ec;
  padding: 1rem 0;
  cursor: pointer;
  margin: 0 auto;
  border: 0;
  outline: none;
}

/*********************************************************/
// SIGNUP
/*********************************************************/

.signup {
  display: block;
  width: 100%;
  max-width: 40rem;
  margin: 4rem auto 6rem;
  border: 1px solid black;

  .wrap {
    padding: 5px;

    h2 {
      font-size: 2.2rem;
      line-height: 1;
      font-weight: 400;
      text-transform: uppercase;
      text-align: center;
      display: block;
      width: 100%;
      padding: 0 10px;
      margin: 0 auto;
    }
    .formWrap {
      margin: 2rem auto 0;
    }
  }
}

.btn {
  display: block;
  width: 100%;

  font-size: 1.5rem;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
  color: white;
  background: #4884ec;
  padding: 1rem 0;
  cursor: pointer;
  margin: 0 auto;
  border: 0;
  outline: none;
}

/********************************************************/
/* FORM
/********************************************************/

.formRow {
  input {
    display: block;
    width: 100%;
    font-size: 1.5rem;
    line-height: 1;
    font-weight: 400;
    text-align: left;
    padding: 10px 5px;
    margin: 10px auto;
    border: 1px solid #9e9e9e;
    outline: none;
  }
}

/********************************************************/
/* FOOTER 
/********************************************************/

.footer {
  .wrap {
    max-width: 1450px;
    padding: 20px 10px;
    margin: 0 auto;
  }
}
